/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * Scroll Down Chevron
 */

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'adobe-garamond-pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #222;
    background: #E7EBEF;
    font-size: 100%;
}

p,
h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p{
    opacity: 0.8;
}

h2 {
    display: block;
    margin-block-start: .83em;
    margin-block-end: .83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*
 * Header
 */

header {
    background-color: #0C0C0C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    color: white;
    z-index: 9999;
}

header #logo {
    display: block;
    width: 50%;
    max-width: 75px;
    margin-top: calc(44vh - 250px);
}

header #intro {
    position: fixed;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    max-width: 780px;
    height: 320px;
}

h1 {
    width: 100%;
    color: #fff;
    font-size: 42px;
    line-height: 64px;
    text-align: center;
    font-family: 'adobe-garamond-pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
}

h1 i,
h2 i {
    font-style: italic;
}

p {
    font-family: 'adobe-garamond-pro', sans-serif;
}

ul {
    list-style: none;
    width: 100%;
    margin: 0;
    margin-top: 35px;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    font-size: 22px;
    line-height: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

header li {
    color: #fff;
}

li span {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #666;
    font-size: 12px;
    opacity: .5;
    letter-spacing: 3px;
    margin-right: 10px;
    text-transform: uppercase;
}

header #intro li a {
    text-decoration: none;
    color: #fff;
}

header #intro li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #333;
}

main {
    transition: background .2s ease;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}


/*
 * Case Study Section
 */

.first-section {
    padding-top: 500px;
}

.title {
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    margin: 0 auto 35px auto;
}

.title a {
    color: inherit;
}

.imgcontainer {
    width: 88%;
    margin: 0 auto;
    max-width: 1800px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
}

.imgcontainer img {
    width: 100%;
    margin: 5px auto 5px auto;
    text-align: center;
}

.contentblock {
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    width: 100%;
    max-width: 1400px;
    height: auto;
    padding-top: 140px;
    margin: 0 auto 0 auto;
}

.contentclm {
    flex: 0 28%;
    height: auto;
    margin-bottom: 8%;
    /* (100-28*3)/2 */
    margin-left: 2%;
    margin-right: 2%;
}

.contentclm p {
    font-size: 21px;
    line-height: 30px;
    opacity: 0.8;
    margin: 0;
}

p.clmtitle {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
    letter-spacing: 4px;
    margin: 0;
    margin-bottom: 15px;
}


/*
 * Case Study Section Individual
 */

.mkrfvl {
    background-color: #DFE2E7;
}

.quote {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.quote p {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 55px;
}

.quote p span{
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.5;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 15px;
}


/*
 * Bio Section
 */

#biocontainer {
    margin: 60px auto 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    height: auto;
    padding: 80px 0;
}

h2.clm-title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #666;
    font-size: 13px;
    opacity: .5;
    letter-spacing: 2px;
    margin-right: 10px;
    text-transform: uppercase;
}

.two-clm-container{
    width: 100%;
    max-width: 1160px;
    height: auto;
    margin: 0 auto 0 auto;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 0px;
}

.clm-sub {
    position: relative;
    width: 48%;
    height: auto;
    float: left;
    margin-right: 4%;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.clm {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    margin: 12px 0;
    width: 49%
}

.clm p, .clm .clm-sub p{
    font-size: 21px;
}

.titleblock p {
    font-size: 21px;
    line-height: 30px;
    opacity: 0.8;
}

.clm:first-child p {
    font-size: 42px;
    line-height: 56px;
    opacity: 0.8;
    margin: 0;
}



.clm:nth-child(1),
.clm:nth-child(4) {
    width: 66%;
    margin: 0 auto;
}

.titleblock {
    width: 80%;
    max-width: 684px;
    margin: 0 auto 0 auto;
    padding-top: 220px;
    padding-bottom: 100px;
    text-align: center;
}

.titleblock p {
    font-size: 21px;
    line-height: 30px;
    opacity: 0.8;
}  

.credits{
 
    width: 80%;
    font-size: 21px;
    max-width: 684px;
    margin: 0 auto 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}

.credits li {
    display: block;
    font-size: 21px;
    line-height: 30px;
}

.credits li span {
    font-family: "Oswald",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-right: 10px;
    opacity: 0.5;
    letter-spacing: 3px;
}


/*
 * Colours
 */

.blue {
    color: #2D3843;
}


/*
 * Margin 0's
 */

.mt0 {
    margin-top: 0!important;
}

.mr0 {
    margin-right: 0!important;
}


/*
 * Scroll Down Chevron
 */

.scrollicon {
    display: block;
    position: fixed;
    width: 40px;
    bottom: 50px;
    left: calc(50% - 20px);
    height: 75px;
}

.chevron {
    width: .75rem;
    height: 0.2rem;
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-animation: move-chevron 3s ease-out infinite;
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #ffffff;
}

.chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
    transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateY(2.28rem);
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        -webkit-transform: translateY(3.12rem);
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(4.8rem) scale(0.5);
        transform: translateY(4.8rem) scale(0.5);
    }
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        -webkit-transform: translateY(2.28rem);
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        -webkit-transform: translateY(3.12rem);
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(4.8rem) scale(0.5);
        transform: translateY(4.8rem) scale(0.5);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}